# dependencies
client/node_modules
client/.pnp
.pnp.js

# testing
/client/coverage

client/public/assets/certificate.pdf

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
.DS_Store
*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*

# local env files
.env*.local
*.env

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts



# server
/server/node_modules
*.log
/server/temp
/server/public

.todo